<div class="main">
    <div class="container-fluid">

        <header>
            <h1>View Activity</h1>

        </header>

        <body>
            <form id="view-activity" action = "/viewWorkoutActivity" method="POST">
                  <label for="username">username</label><br>
                        <select id="username" name="username">
                             {{#each username}}
                            <option name ="user" value={{this._id}}>{{{this.username}}}</option>
                            {{/each}}
                        </select>       
                <button type="submit">viewWorkout</button>
            </form>
                {{#if flag}}
                <p class="error">{{error}}</p>

                {{/if}}
                
                    {{#if showactivities}}
                    <table name = "result" style="width:100%">
                    <tr >
                       
                        <th>ID</th>
                        <th>Level</th>
                        <th>Description</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                        <th>Days</th>
                        <th>Activity</th>
                        <th>Sets</th>
                        <th>Weight</th>
                        <th>Repetitions</th>
                    </tr>
                    {{#each showactivities}}

                     <tr name ="row">
                        
                        <td>{{this._id}}</td>
                        <td>{{this.level}}</td>
                        <td>{{this.description}}</td>
                        <td>{{this.startdate}}</td>
                        <td>{{this.enddate}}</td>
                        <td>{{this.days}}</td>
                        <td>{{this.activity}}</td>
                        <td>{{this.sets}}</td>
                        <td>{{this.weight}}</td>
                        <td>{{this.repetitions}}</td>
                        <td><form method="POST" action="/deleteWorkoutActivity"> 
                        <input type="hidden" value={{this._id}} name="activityId"> 
                        <input type="submit" value="delete">
                        </form></td>
                       
                            
                             
                    </tr> 
                   
                    {{/each}}
                </table>


                <br />
                <br />
                {{/if}}
                <p>{{message}}</p>
                <a href ="/workoutActivity">Go back</a>
          

        </body>
    </div>
</div>